# Jessica Nicole Copado Leal - A01637876

## Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data
- There are no missing data.

3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the sepal width and length and the type of Flower


5. Create a new dataset containing the sepal width and length and the type of Flower encoded as a categorical numerical column

## Importing libraries

In [39]:
# Import the packages that we will be using
import pandas as pd                 # For data handling

#pd.set_option('display.max_columns', 100) # Show all columns when looking at dataframe

## Importing data

In [40]:
# url string that hosts our .csv file
url = "datasets/iris/iris.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(url)

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

- Number of rows and columns

In [41]:
df.shape

(150, 5)

- Name of each column

In [42]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'class'],
      dtype='object')

- Type of each column

In [43]:
# It explains the type of variable: int, float, double, etc.
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
class                 object
dtype: object

## Summary statistics for the quantitative variables

- Minimum, maximum, mean, median, standar deviation

In [44]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [45]:
# Lowest value of each column
df.min()

sepal length (cm)            4.3
sepal width (cm)             2.0
petal length (cm)            1.0
petal width (cm)             0.1
class                Iris-setosa
dtype: object

In [46]:
# Highest value of each column
df.max()

sepal length (cm)               7.9
sepal width (cm)                4.4
petal length (cm)               6.9
petal width (cm)                2.5
class                Iris-virginica
dtype: object

In [47]:
# Average value of each column
df.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [48]:
# Value at the center of all the values
df.median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
dtype: float64

In [49]:
# Measure which shows how much variation (dispersion) from the mean exists
df.std()

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

## Creating only petal dataset

In [50]:
df_petal = pd.read_csv(url)

df.loc[:,["petal length (cm)", "petal width (cm)", "class"]]

     petal length (cm)  petal width (cm)           class
0                  1.4               0.2     Iris-setosa
1                  1.4               0.2     Iris-setosa
2                  1.3               0.2     Iris-setosa
3                  1.5               0.2     Iris-setosa
4                  1.4               0.2     Iris-setosa
..                 ...               ...             ...
145                5.2               2.3  Iris-virginica
146                5.0               1.9  Iris-virginica
147                5.2               2.0  Iris-virginica
148                5.4               2.3  Iris-virginica
149                5.1               1.8  Iris-virginica

[150 rows x 3 columns]

## Creating only setal dataset

In [51]:
df_setal = pd.read_csv(url)

df.loc[:,["sepal length (cm)", "sepal width (cm)", "class"]]

     sepal length (cm)  sepal width (cm)           class
0                  5.1               3.5     Iris-setosa
1                  4.9               3.0     Iris-setosa
2                  4.7               3.2     Iris-setosa
3                  4.6               3.1     Iris-setosa
4                  5.0               3.6     Iris-setosa
..                 ...               ...             ...
145                6.7               3.0  Iris-virginica
146                6.3               2.5  Iris-virginica
147                6.5               3.0  Iris-virginica
148                6.2               3.4  Iris-virginica
149                5.9               3.0  Iris-virginica

[150 rows x 3 columns]

## Dataset with flower encoded as a number

In [52]:
df_flower = pd.read_csv(url)

df_flower = df_flower.replace({"class": {"Iris-setosa":0, "Iris-versicolor":1, "Iris-virginica":2} })

df_flower

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2