# Data management using Pandas

**Data management** is a crucial component to statistical analysis and data science work. 

This notebook will show you how to import, view, undertand, and manage your data using the [Pandas](http://pandas.pydata.org) data processing library, i.e., the notebook will demonstrates how to read a dataset into Python, and obtain a basic understanding of its content.

Note that **Python** by itself is a general-purpose programming language and does not provide high-level data processing capabilities.  The **Pandas** library was developed to meet this need. **Pandas** is the most popular Python library for data manipulation, and we will use it extensively in this course. **Pandas** provides high-performance, easy-to-use data structures and data analysis tools.

The main data structure that **Pandas** works with is called a **Data Frame**. This is a two-dimensional table of data in which the rows typically
represent cases and the columns represent variables (e.g. data used in this tutorial).  Pandas also has a one-dimensional data structure called a **Series** that we will encounter when accesing a single column of a Data Frame.

Pandas has a variety of functions named `read_xxx` for reading data in different formats.  Right now we will focus on reading `csv` files, which stands for comma-separated values. However the other file formats include `excel`, `json`, and `sql`. 

There are many other options to `read_csv` that are very useful.  For example, you would use the option `sep='\t'` instead of the default `sep=','` if the fields of your data file are delimited by tabs instead of commas.  See [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) for the full documentation for `read_csv`.


## Acknowledgments

- The dataset used in this tutorial is from https://www.coursera.org/ from the course "Understanding and Visualizing Data with Python" by University of Michigan

# Importing libraries

In [83]:
# Import the packages that we will be using
import pandas as pd                 # For data handling

#pd.set_option('display.max_columns', 100) # Show all columns when looking at dataframe

# Importing data

In [84]:
# url string that hosts our .csv file
url = "datasets/iris/iris.csv"

# Read the .csv file and store it as a pandas Data Frame
df = pd.read_csv(url, names= ['Sepallength', 'Sepal width', 'Petal length', 'Petal width', 'Class'])

If we want to print the information about th output object type we would simply type the following:

In [85]:
type(df)

pandas.core.frame.DataFrame

# Exploring the content of the data set

Use the `shape` method to determine the numbers of rows and columns in a data frame. This can be used to confirm that we have actually obtained the data the we are expecting.

Based on what we see below, the data set being read here has $N_r$ rows, corresponding to $N_r$ observations, and $N_c$ columns, corresponding to $N_c$ variables in this particular data file.

In [86]:
df.shape

(150, 5)

If we want to show the entire data frame we would simply write the following:

In [87]:
df

     Sepallength  Sepal width  Petal length  Petal width           Class
0            5.1          3.5           1.4          0.2     Iris-setosa
1            4.9          3.0           1.4          0.2     Iris-setosa
2            4.7          3.2           1.3          0.2     Iris-setosa
3            4.6          3.1           1.5          0.2     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

As you can see, we have a 2-Dimensional object where each row is an independent observation and each coloum is a variable.

Now, use the the `head()` function to show the first 5 rows of our data frame

In [88]:
#df.head()
df.head(10)

   Sepallength  Sepal width  Petal length  Petal width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa
5          5.4          3.9           1.7          0.4  Iris-setosa
6          4.6          3.4           1.4          0.3  Iris-setosa
7          5.0          3.4           1.5          0.2  Iris-setosa
8          4.4          2.9           1.4          0.2  Iris-setosa
9          4.9          3.1           1.5          0.1  Iris-setosa

Also, you can use the the `tail()` function to show the last 5 rows of our data frame

In [89]:
#df.tail()
df.tail(3)

     Sepallength  Sepal width  Petal length  Petal width           Class
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

The columns in a Pandas data frame have names, to see the names, use the `columns` method:

To gather more information regarding the data, we can view the column names with the following function:

In [90]:
df.columns

Index(['Sepallength', 'Sepal width', 'Petal length', 'Petal width', 'Class'], dtype='object')

Be aware that every variable in a Pandas data frame has a data type.  There are many different data types, but most commonly you will encounter floating point values (real numbers), integers, strings (text), and date/time values.  When Pandas reads a text/csv file, it guesses the data types based on what it sees in the first few rows of the data file.  Usually it selects an appropriate type, but occasionally it does not.  To confirm that the data types are consistent with what the variables represent, inspect the `dtypes` attribute of the data frame.

In [91]:
df.dtypes

Sepallength     float64
Sepal width     float64
Petal length    float64
Petal width     float64
Class            object
dtype: object

Summary statistics, which include things like the mean, min, and max of the data, can be useful to get a feel for how large some of the variables are and what variables may be the most important.

In [92]:
# Summary statistics for the quantitative variables
df.describe()

       Sepallength  Sepal width  Petal length  Petal width
count   150.000000   150.000000    150.000000   150.000000
mean      5.843333     3.057333      3.758000     1.199333
std       0.828066     0.435866      1.765298     0.762238
min       4.300000     2.000000      1.000000     0.100000
25%       5.100000     2.800000      1.600000     0.300000
50%       5.800000     3.000000      4.350000     1.300000
75%       6.400000     3.300000      5.100000     1.800000
max       7.900000     4.400000      6.900000     2.500000

In [93]:
#df
# Drop observations with NaN values
#df.Sepallength.dropna().describe()
#df.Class.dropna().describe()

It is also possible to get statistics on the entire data frame or a column as follows

- `df.mean()` Returns the mean of all columns
- `df.corr()` Returns the correlation between columns in a data frame
- `df.count()` Returns the number of non-null values in each data frame column
- `df.max()` Returns the highest value in each column
- `df.min()` Returns the lowest value in each column
- `df.median()` Returns the median of each column
- `df.std()` Returns the standard deviation of each column

In [94]:
df.mean()

Sepallength     5.843333
Sepal width     3.057333
Petal length    3.758000
Petal width     1.199333
dtype: float64

# How to write a data frame to a File

To save a file with your data simply use the `to_csv` attribute

In [95]:
df.to_csv('myDataFrame.csv')
df.to_csv('myDataFrame2.csv', sep='\t')

# Rename columns

To change the name of a colum use the `rename` attribute

In [96]:
df = df.rename(columns={"Sepal width": "Sepalwidth"})

df.head()

   Sepallength  Sepalwidth  Petal length  Petal width        Class
0          5.1         3.5           1.4          0.2  Iris-setosa
1          4.9         3.0           1.4          0.2  Iris-setosa
2          4.7         3.2           1.3          0.2  Iris-setosa
3          4.6         3.1           1.5          0.2  Iris-setosa
4          5.0         3.6           1.4          0.2  Iris-setosa

In [97]:
df = df.rename(columns={"Sepalwidth": "Sepal width"})

df.head()

   Sepallength  Sepal width  Petal length  Petal width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

# Selection of colums

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent observations or samples and the columns represent variables.  One common manipulation of a data frame is to extract the data for one case or for one variable.  There are several ways to do this, as shown below.

To extract all the values for one column (variable), use one of the following alternatives.

In [98]:
a = df.Class
b = df["Class"]
c = df.loc[:, "Class"]
d = df.iloc[:, 4]

print(d)

df[["Petal length", "Petal width"]]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Class, Length: 150, dtype: object

     Petal length  Petal width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

# Slicing a data set

As discussed above, a Pandas data frame is a rectangular data table, in which the rows represent cases and the columns represent variables.  One common manipulation of a data frame is to extract the data for one observation or for one variable.  There are several ways to do this, as shown below.

Lets say we would like to splice our data frame and select only specific portions of our data.  There are three different ways of doing so.

1. .loc()
2. .iloc()
3. .ix()

We will cover the .loc() and .iloc() splicing functions.

The attibute **.loc()** uses labels/column names, in specific, it takes two single/list/range operator separated by ',', the first one indicates the rows and the second one indicates columns.

In [122]:
# Return all observations of Sepal length
#df.loc[:,'Sepallength']

# Return a subset of observations of Sepal length
#df.loc[:9, 'Sepallength']

# Select all rows for multiple columns, ["Sepal length", "Sepal width"]
#df.loc[:,['Sepallength', 'Sepal width']]


# Select multiple columns, ['Sepallength', 'Sepal width']me 
#keep = ['Sepallength', 'Sepal width']
#df_gender = df[keep]

# Select few rows for multiple columns, ['Sepallength', 'Sepalwidth', 'Class']
#df.loc[4:9, ['Sepallength', 'Sepal width', 'Class']]

# Select range of rows for all columns
df.loc[10:15,:]

    Sepallength  Sepal width  Petal length  Petal width        Class
10          5.4          3.7           1.5          0.2  Iris-setosa
11          4.8          3.4           1.6          0.2  Iris-setosa
12          4.8          3.0           1.4          0.1  Iris-setosa
13          4.3          3.0           1.1          0.1  Iris-setosa
14          5.8          4.0           1.2          0.2  Iris-setosa
15          5.7          4.4           1.5          0.4  Iris-setosa

The attribute **iloc()** is an integer based slicing.

In [123]:
# .
df.iloc[:, :4]

# .
df.iloc[:4, :]

# .
df.iloc[:, 3:7]

# .
df.iloc[4:8, 2:4]

# This is incorrect:
#df.iloc[1:5, ["Gender", "GenderGroup"]]

   Petal length  Petal width
4           1.4          0.2
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2

# Get unique existing values

List unique values in the one of the columns

In [124]:
# List unique values in the df['Class'] column
df.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [128]:
# Lets explore df["Sepallength"] as well
df.Sepallength.unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

# Filter, Sort and Groupby

With **Filter** you can use different conditions to filter columns. For example, df[df[year] > 1984] would give you only the column year is greater than 1984. You can use & (and) or | (or) to add different conditions to your filtering. This is also called boolean filtering.

In [129]:
df[df["Sepallength"] >= 5.0]

     Sepallength  Sepal width  Petal length  Petal width           Class
0            5.1          3.5           1.4          0.2     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
5            5.4          3.9           1.7          0.4     Iris-setosa
7            5.0          3.4           1.5          0.2     Iris-setosa
10           5.4          3.7           1.5          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[128 rows x 5 columns]

With **Sort** is possible to sort values in a certain column in an ascending order using `df.sort_values("ColumnName")` or in descending order using `df.sort_values(ColumnName, ascending=False)`. 

Furthermore, it’s possible to sort values by Column1Name in ascending order then Column2Name in descending order by using `df.sort_values([Column1Name,Column2Name],ascending=[True,False])`

In [133]:
df.sort_values("Sepallength") 
#df.sort_values("Sepallength",ascending=False)

     Sepallength  Sepal width  Petal length  Petal width           Class
13           4.3          3.0           1.1          0.1     Iris-setosa
42           4.4          3.2           1.3          0.2     Iris-setosa
38           4.4          3.0           1.3          0.2     Iris-setosa
8            4.4          2.9           1.4          0.2     Iris-setosa
41           4.5          2.3           1.3          0.3     Iris-setosa
..           ...          ...           ...          ...             ...
122          7.7          2.8           6.7          2.0  Iris-virginica
118          7.7          2.6           6.9          2.3  Iris-virginica
117          7.7          3.8           6.7          2.2  Iris-virginica
135          7.7          3.0           6.1          2.3  Iris-virginica
131          7.9          3.8           6.4          2.0  Iris-virginica

[150 rows x 5 columns]

The attribute **Groupby** involves splitting the data into groups based on some criteria, applying a function to each group independently and combining the results into a data structure. df.groupby(col) returns a groupby object for values from one column while df.groupby([col1,col2]) returns a groupby object for values from multiple columns.

In [135]:
df.groupby(['Sepallength'])

Size of each group

In [136]:
df.groupby(['Sepallength']).size()

df.groupby(['Sepallength','Sepal width']).size()

Sepallength  Sepal width
4.3          3.0            1
4.4          2.9            1
             3.0            1
             3.2            1
4.5          2.3            1
                           ..
7.7          2.6            1
             2.8            1
             3.0            1
             3.8            1
7.9          3.8            1
Length: 117, dtype: int64

This output indicates that we have two types of combinations. 

* Case 1: Gender = F & Gender Group = 1 
* Case 2: Gender = M & GenderGroup = 2.  

This validates our initial assumption that these two fields essentially portray the same information.

# Data Cleaning: handle with missing data

Before getting started to work with your data, it's a good practice to observe it thoroughly to identify missing values and handle them accordingly.

When reading a dataset using Pandas, there is a set of values including 'NA', 'NULL', and 'NaN' that are taken by default to represent a missing value.  The full list of default missing value codes is in the '`read_csv`' documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).  This document also explains how to change the way that '`read_csv`' decides whether a variable's value is missing.

Pandas has functions called `isnull` and `notnull` that can be used to identify where the missing and non-missing values are located in a data frame.  

Below we use these functions to count the number of missing and non-missing values in each variable of the datasetr.

In [137]:
df.isnull()

     Sepallength  Sepal width  Petal length  Petal width  Class
0          False        False         False        False  False
1          False        False         False        False  False
2          False        False         False        False  False
3          False        False         False        False  False
4          False        False         False        False  False
..           ...          ...           ...          ...    ...
145        False        False         False        False  False
146        False        False         False        False  False
147        False        False         False        False  False
148        False        False         False        False  False
149        False        False         False        False  False

[150 rows x 5 columns]

Unfortunately, our output indicates that some of our columns contain missing values so we are no able to continue on doing analysis with those colums

In [138]:
df.notnull()

     Sepallength  Sepal width  Petal length  Petal width  Class
0           True         True          True         True   True
1           True         True          True         True   True
2           True         True          True         True   True
3           True         True          True         True   True
4           True         True          True         True   True
..           ...          ...           ...          ...    ...
145         True         True          True         True   True
146         True         True          True         True   True
147         True         True          True         True   True
148         True         True          True         True   True
149         True         True          True         True   True

[150 rows x 5 columns]

In [139]:
df.isnull().sum()
df.notnull().sum()

Sepallength     150
Sepal width     150
Petal length    150
Petal width     150
Class           150
dtype: int64

Now we use these functions to count the number of missing and non-missing values in a single variable in the dataset

In [140]:
print( df.Sepallength.notnull().sum() )

print( pd.isnull(df.Sepallength).sum() )

150
0

In [141]:
# Extract all non-missing values of one of the columns into a new variable
x = df.Sepallength.dropna().describe()
x.describe()

count      8.000000
mean      23.271425
std       51.247113
min        0.828066
25%        4.900000
50%        5.821667
75%        6.775000
max      150.000000
Name: Sepallength, dtype: float64

# Add and eliminate columns

In some cases it is useful to create or eiminate new columns

In [145]:
df.head(16)

    Sepallength  Sepal width  Petal length  Petal width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa
10          5.4          3.7           1.5          0.2  Iris-setosa
11          4.8          3.4           1.6          0.2  Iris-setosa
12          4.8          3.0           1.4          0.1  Iris-setosa
13          4.3          3.0           1.1          0.1  Iris-setosa
14          5.8          4.0           1.2          0.2  Iris-setosa
15          5.7          4.4           1.5          0.4  Iris-setosa

In [150]:
# Add a new column with new data

# Create a column data
NewColumnData = df.Sepallength/df.Sepallength

# Insert that column in the data frame
df.insert(5, "ColumnInserted", NewColumnData, True)

df.head()

,Sepallength,Sepal width,Petal length,Petal width,Class,ColumnInserted
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0

In [151]:
# Eliminate inserted column
df.drop("ColumnInserted", axis=1, inplace = True)
#df.drop(columns=['ColumnInserted'], inplace = True)
# Remove three columns as index base
#df.drop(df.columns[[12]], axis = 1, inplace = True)

df.head()

   Sepallength  Sepal width  Petal length  Petal width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

In [152]:
# Add new column derived from existing columns

# The new column is a function of another column
df["Sepallength half"] = df["Sepallength"] / 2

df.head()

,Sepallength,Sepal width,Petal length,Petal width,Class,Sepallength half
0,5.1,3.5,1.4,0.2,Iris-setosa,2.55
1,4.9,3.0,1.4,0.2,Iris-setosa,2.45
2,4.7,3.2,1.3,0.2,Iris-setosa,2.35
3,4.6,3.1,1.5,0.2,Iris-setosa,2.30
4,5.0,3.6,1.4,0.2,Iris-setosa,2.50

In [153]:
# Eliminate inserted column
df.drop("Sepallength half", axis=1, inplace = True)

df.head()

   Sepallength  Sepal width  Petal length  Petal width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

In [155]:
# Add a new column with text labels reflecting the code's meaning

df["Class code"] = df.Class.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica":3})

# Show the first 5 rows of the created data frame
df.head()

,Sepallength,Sepal width,Petal length,Petal width,Class,Class code
0,5.1,3.5,1.4,0.2,Iris-setosa,1
1,4.9,3.0,1.4,0.2,Iris-setosa,1
2,4.7,3.2,1.3,0.2,Iris-setosa,1
3,4.6,3.1,1.5,0.2,Iris-setosa,1
4,5.0,3.6,1.4,0.2,Iris-setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,3
146,6.3,2.5,5.0,1.9,Iris-virginica,3
147,6.5,3.0,5.2,2.0,Iris-virginica,3
148,6.2,3.4,5.4,2.3,Iris-virginica,3
149,5.9,3.0,5.1,1.8,Iris-virginica,3

In [156]:
# Eliminate inserted column
df.drop("Class code", axis=1, inplace = True)
#df.drop(['GenderGroupNew'],vaxis='columns',vinplace=True)

df.head()

   Sepallength  Sepal width  Petal length  Petal width        Class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

In [157]:
# Add a new column with strata based on these cut points

# Create a column data
#NewColumnData = df.Age/df.Age

# Insert that column in the data frame
#df.insert(1, "ColumnStrata", NewColumnData, True)

#df["ColumnStrata"] = pd.cut(df.Height, [60., 63., 66., 69., 72., 75., 78.])

# Show the first 5 rows of the created data frame
#df.head()

In [81]:
# Eliminate inserted column
#df.drop("ColumnStrata", axis=1, inplace = True)

#df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

In [82]:
# Drop several "unused" columns
#vars = ["ID", "GenderGroup", "GlassesGroup", "CompleteGroup"]
#df.drop(vars, axis=1, inplace = True)

# Add and eliminate rows

In some cases it is requiered to add new observations (rows) to the data set

In [158]:
df.tail()

     Sepallength  Sepal width  Petal length  Petal width           Class
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

In [159]:
df.loc[len(df.index)] = [2.4, 2.8, 8, 1.2, 'prueba'] 

df.tail()

     Sepallength  Sepal width  Petal length  Petal width           Class
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica
150          2.4          2.8           8.0          1.2          prueba

In [160]:
# Eliminate inserted row
df.drop([150], inplace = True )

df.tail()

     Sepallength  Sepal width  Petal length  Petal width           Class
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

# Cleaning your data: drop out unused columns and/or drop out rows with any missing values

In [161]:
# Drop unused columns
#vars = ["ID", "GenderGroup", "GlassesGroup", "CompleteGroup"]
#df.drop(vars, axis=1, inplace = True)

#vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
#df = df[vars]

# Drop rows with any missing values
#df = df.dropna()

# Drop unused columns and drop rows with any missing values
#vars = ["Age", "Gender", "Glasses", "Height", "Wingspan", "CWDistance", "Complete", "Score"]
#df = df[vars].dropna()

df

     Sepallength  Sepal width  Petal length  Petal width           Class
0            5.1          3.5           1.4          0.2     Iris-setosa
1            4.9          3.0           1.4          0.2     Iris-setosa
2            4.7          3.2           1.3          0.2     Iris-setosa
3            4.6          3.1           1.5          0.2     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

# Final remarks


- The understanding of your dataset is essential
    - Number of observations
    - Variables
    - Data types: numerical or categorial
    - What are my variables of interest

- There are several ways to do the same thing

- Cleaning your dataset (dropping out rows with any missing values) is a good practice

- The **Pandas** library provides fancy, high-performance, easy-to-use data structures and data analysis tools

# Activity: work with the iris dataset

Repeat this tutorial with the iris data set and respond to the following inquiries

1. Calculate the statistical summary for each quantitative variables. Explain the results
    - Identify the name of each column
    - Identify the type of each column
    - Minimum, maximum, mean, average, median, standar deviation
    
    
2. Are there missing data? If so, create a new dataset containing only the rows with the non-missing data


3. Create a new dataset containing only the petal width and length and the type of Flower


4. Create a new dataset containing only the setal width and length and the type of Flower


5. Create a new dataset containing the setal width and length and the type of Flower encoded as a categorical numerical column

In [169]:
#Punto 1
print(df.describe())
print(df.dtypes)

       Sepallength  Sepal width  Petal length  Petal width
count   150.000000   150.000000    150.000000   150.000000
mean      5.843333     3.057333      3.758000     1.199333
std       0.828066     0.435866      1.765298     0.762238
min       4.300000     2.000000      1.000000     0.100000
25%       5.100000     2.800000      1.600000     0.300000
50%       5.800000     3.000000      4.350000     1.300000
75%       6.400000     3.300000      5.100000     1.800000
max       7.900000     4.400000      6.900000     2.500000
Sepallength     float64
Sepal width     float64
Petal length    float64
Petal width     float64
Class            object
dtype: object

En todas las columnas es capaz de encontrar el resumen estadistico y los nombres, a excepción de la columna Class que no se pudieron encontrar los datos estadisticos, esto debido a que esta columna tiene datos categoricos y no cuantitativos.

In [172]:
#Punto 2
df.isnull().sum()

Sepallength     0
Sepal width     0
Petal length    0
Petal width     0
Class           0
dtype: int64

No se encuentran datos nulos en la informacion

In [173]:
#Punto 3
df.loc[:, ['Petal length', 'Petal width', 'Class']]

     Petal length  Petal width           Class
0             1.4          0.2     Iris-setosa
1             1.4          0.2     Iris-setosa
2             1.3          0.2     Iris-setosa
3             1.5          0.2     Iris-setosa
4             1.4          0.2     Iris-setosa
..            ...          ...             ...
145           5.2          2.3  Iris-virginica
146           5.0          1.9  Iris-virginica
147           5.2          2.0  Iris-virginica
148           5.4          2.3  Iris-virginica
149           5.1          1.8  Iris-virginica

[150 rows x 3 columns]

In [174]:
#Punto 4
df.loc[:, ['Sepallength', 'Sepal width', 'Class']]

     Sepallength  Sepal width           Class
0            5.1          3.5     Iris-setosa
1            4.9          3.0     Iris-setosa
2            4.7          3.2     Iris-setosa
3            4.6          3.1     Iris-setosa
4            5.0          3.6     Iris-setosa
..           ...          ...             ...
145          6.7          3.0  Iris-virginica
146          6.3          2.5  Iris-virginica
147          6.5          3.0  Iris-virginica
148          6.2          3.4  Iris-virginica
149          5.9          3.0  Iris-virginica

[150 rows x 3 columns]

In [186]:
#Punto 5
df["Class code"] = df.Class.replace({"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica":3})
df.loc[:, ['Sepallength', 'Sepal width', 'Class code']]

     Sepallength  Sepal width  Class code
0            5.1          3.5           1
1            4.9          3.0           1
2            4.7          3.2           1
3            4.6          3.1           1
4            5.0          3.6           1
..           ...          ...         ...
145          6.7          3.0           3
146          6.3          2.5           3
147          6.5          3.0           3
148          6.2          3.4           3
149          5.9          3.0           3

[150 rows x 3 columns]