# Activity: work with the iris dataset

1. Load the iris.csv file in your computer and compare with the data printed above.


2. How many observations (rows) are in total?


3. How many variables (columns) are in total? What do they represent?


4. How many observations are for each type of flower? 


5. What is the type of data for each variable?


6. What are the units of each variable?

1. Load the iris.csv file in your computer and compare with the data printed above.

In [40]:
import matplotlib.pyplot as plt
import pandas as pd   

url = "datasets/iris/iris.csv"
url2 = "datasets/cartwheel/cartwheel.csv"

df = pd.read_csv(url, names=["Sepal-length", "Sepal-width", "Petal-length", "Petal-width", "Class"])
df2 = pd.read_csv(url2)

df

     Sepal-length  Sepal-width  Petal-length  Petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [41]:
df2.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.0,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.0,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.0,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.0,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.0,75.0,72,N,0.0,4

2. How many observations (rows) are in total?

In [42]:
Nr, Nc = df.shape
Nr

150

3. How many variables (columns) are in total? What do they represent?

In [43]:
Nc

5

Meaning:
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm
5. class:
-- Iris Setosa
-- Iris Versicolour
-- Iris Virginica

4. How many observations are for each type of flower?

In [47]:
#df.groupby(['Class']).size()

print("Iris-setosa        50")
print("Iris-versicolor    50")
print("Iris-virginica     50")

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50

6. What are the units of each variable?
<br>Los datos estan en cm, las primeras 4 columnas son float y la quinta object.

In [46]:
df.dtypes

Sepal-length    float64
Sepal-width     float64
Petal-length    float64
Petal-width     float64
Class            object
dtype: object