# TC1002S Herramientas computacionales: el arte de la analítica

This is a notebook with all your work for the final evidence of this course


# Niveles de dominio a demostrar con la evidencia

### SING0202A

Interpreta interacciones entre variables relevantes en un problema, como base para la construcción de modelos bivariados basados en datos de un fenómeno investigado que le permita reproducir la respuesta del mismo. Es capaz de construir modelos bivariados que expliquen el comportamiento de un fenómeno.


# Student information

- Name: Manuel Eduardo Ochoa Obezo

- ID: A00227718

- My career: Ingeniero en Robotica

# Importing libraries

In [1]:
# Import the packages that we will be using
import pandas as pd                 # For data handling
import seaborn as sns               # For advanced plotting
import matplotlib.pyplot as plt     # For showing plots

# A1 Loa your dataset

In [2]:
url = "A00227718.csv"
ar = pd.read_csv(url)
ar

     Unnamed: 0         x1        x2
0             0  -1.457274  1.093038
1             1  -1.763838  2.321210
2             2   0.530845  3.012410
3             3  -4.537149 -0.601087
4             4   1.070596  5.140156
..          ...        ...       ...
713         713  -7.215398  4.609216
714         714 -10.067797  5.528433
715         715  -7.298928  6.124493
716         716  -2.452068  1.910159
717         717  -1.444294  5.476217

[718 rows x 3 columns]

# A2 DataManagment

Print the first 7 rows

Print the first 4 last rows

How many rows and columns are in your data?

Use the `shape` method

Print the name of all columns 

Use the `columns` method

What is the data type in each column

Use the `dtypes` method

What is the meaning of rows and columns?

In [1]:
# Your responses here

# 1) 

# 2) 

# 3) 

#...

Print a statistical summary of your columns

In [2]:
# 1) What is the minumum and maximum values of each variable

# 2) What is the mean and standar deviation of each variable

# 3) What the 25%, 50% and 75% represent?

Rename the columns using the same name with capital letters

Rename the columns to their original names

Use two different alternatives to get one of the columns

Get a slice of your data set: second and thrid columns and rows from 62 to 72

For the second and thrid columns, calculate the number of null and not null values and verify that their sum equals the total number of rows

Discard the first column

### Questions 

Based on the previos reults, provide a description of yout dataset

Your response:

# A3 Data visualization

Plot in the same figure the histogram of the two first two variables

Based on this two plots, provide a description of your data:

Your response here:

Plot in the same figure the boxplot of the two first two variables

Scatter plot of the two first variables

### Questions 

Based on the previos plots, provide a description of yout dataset

Your response:

# A4 Kmeans

Do Kmeans clustering assuming a number of clusters accorgind to your scatter plot

Add to your dataset a column with the assihned cluster to each data point

Print the number associated to each cluster

Print the centroids

Print the intertia metric

Plot a scatter plot of your data assigned to each cluster. Also plot the centroids

### Questions 

Provides a detailed description of your results

Your response:

# A4 Elbow plot

Compute the Elbow plot

### Questions 

What is the best number of clusters K? (argue your response)

Your response:


Does this number of clusters agree with your inital guess? (argue your response)

Your response:

# A4 Normalizing the data: preprocessing using min max scaler

Normalize the data using min max scaler

Print a statistical summary of your columns (normalized data)

In [3]:
# 1) What is the minumum and maximum values of each variable

# 2) What is the mean and standar deviation of each variable

# 3) What the 25%, 50% and 75% represent?

# 4) Are the minimum and maximum values equal to your original data?

Plot the scatter plot of your normalizaed data

Do Kmeans clustering assuming a number of clusters accorgind to your scatter plot

Add to your dataset a column with the assihned cluster to each data point

Print the centroids

Print the intetia metric

Plot a scatter plot of your data assigned to each cluster. Also plot the centroids

### Questions 

Provides a detailed description of your results. Does the normalization improves the clustering?

Your response:

# BONUS

1) Generate some data using the "make_blobs" function from "sklearn.datasets"

- The number of observations is equal to the three last digits in your ID

- 2 variables

- 4 clusters

- Standar deviation of each cluster of 1.5

2) Plot the scatter plot of your data using the real cluster labels

3) Do K means clustering

4) Plot the scatter plot of your data using the estimated cluster labels

### Questions 

Provides a detailed description of your results.

Your response:

# Descipcion de tu percepcion del nivel de desarrollo de la subcompetencia 

### SING0202A Interpretación de variables

Escribe tu description del nivel de logro del siguiente criterio de la subcompetencia

**Interpreta interacciones**. Interpreta interacciones entre variables relevantes en un problema, como base para la construcción de modelos bivariados basados en datos de un fenómeno investigado que le permita reproducir la respuesta del mismo.

Tu respuesta:

Escribe tu description del nivel de logro del siguiente criterio de la subcompetencia

**Construcción de modelos**. Es capaz de construir modelos bivariados que expliquen el comportamiento de un fenómeno.

Tu respuesta: